{% extends 'base/base.html' %}

{% block page_title %}{{ ingredient.code }}{% endblock page_title %}

{% block page_heading %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h4 mb-0 text-gray-800">Details of {{ ingredient.name }}</h1>
    <div>
        <a
            href="{% url 'products:ingredient_add' %}"
            class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
            ><i class="fas fa-plus fa-sm text-white-50"></i> Add </a
        >
        <a
            href="{% url 'products:ingredient_edit' ingredient.pk %}"
            class="d-none d-sm-inline-block btn btn-sm btn-warning shadow-sm"
            ><i class="far fa-edit fa-sm text-white-50"></i> Edit </a
        >
        <a
            href="{% url 'products:ingredients_list' %}"
            class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm"
            ><i class="fas fa-arrow-left text-white-50"></i> Back to list </a
        >
    </div>
</div>
{% endblock page_heading %}

{% block content %}
<dl>
    <div class="d-flex flex-row my-3">
        <dt class="font-weight-lighter mr-2">Name</dt>
        <dd class="font-weight-bolder text-primary">{{ ingredient.name }}</dd>
    </div>
    <div class="d-flex flex-row my-3">
        <dt class="font-weight-lighter mr-2">Code</dt>
        <dd class="font-weight-bolder text-primary">{{ ingredient.code }}</dd>
    </div>
    <div class="d-flex flex-row my-3">
        <dt class="font-weight-lighter mr-2">Price</dt>
        <dd class="font-weight-bolder text-primary">{{ ingredient.base_price | floatformat:"2g" }} EUR</dd>
    </div>
  </dl>
{% endblock content %}