{% extends 'base/base.html' %}

{% block page_title %}TENANTS{% endblock page_title %}

{% block page_heading %}
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
	<h1 class="h4 mb-0 text-gray-800">Tenants</h1>
	<div>
		<a
				href="{% url 'products:ingredient_add' %}"
				class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
				><i class="fas fa-plus fa-sm text-white-50"></i> Add </a
			>
	</div>
</div>
{% endblock page_heading %}

{% block content %}
<div>
    <ul>
        {% for tenant in tenant_list %}
            <li>{{ tenant }}</li>
        {% empty %}
            <li>Nema niti jedna firma u bazi</li>
        {% endfor %}
    </ul>
</div>
{% endblock content %}
